<!DOCTYPE html>
<html>
  <head>
    <title>Appliance Comparisons</title>
  </head>
  <body>
      <svg></svg>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <form method="post">
          <select name="ac-type">
              <option value="4TTV0024A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0024A</option>
              <option value="4TTV0036A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0036A</option>
              <option value="4TTV0048A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0048A</option>
              <option value="4TTV0060A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0060A</option>
          </select>
          <select name="ac-type-2">
              <option value="4TTV0024A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0024A</option>
              <option value="4TTV0036A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0036A</option>
              <option value="4TTV0048A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0048A</option>
              <option value="4TTV0060A">Trane XV20i TruComfort™ Variable Speed, Model 4TTV0060A</option>
          </select>
          <select name="state">
              <option value="tx">Texas</option>
          </select>
          <input type="submit" value = "Go!">
    </form>
  </body>
</html>
