<!DOCTYPE html>
<html>
<title>Air Con 5</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Times New Roman", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>


<!-- Navbar -->
<div class="w3-top">
  <div class="w3-container w3-pale-green w3-bar  w3-top w3-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">AirCon-5</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
    <a href="/region" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Compare Yourself</a>
    <a href="/appliances" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Compare Products</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Find Solutions</a>

  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwj0iJ2SssjcAhVqdt8KHd9GBpMQPAgD">Google</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="https://www.homedepot.com/b/Heating-Venting-Cooling-Air-Conditioners/N-5yc1vZc4me">Home Depot</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="https://www3.epa.gov/carbon-footprint-calculator/">Energy Emissions Calculator</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="https://www.cnet.com/how-to/rules-for-paying-less-on-ac-this-summer/">Helpful Resources</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <!-- code for photo slideshow below -->

  <!-- <div class="w3-content" style="max-width:1200px">
    <img class="mySlides" src="https://thumbs-prod.si-cdn.com/Sy5u0b45_ARn9TMaMZ9M9dL2yxg=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/f3/8a/f38a1d1a-aaae-4a3c-abed-827596905ef9/istock_000047735718_large.jpg" style="width:50%">
    <img class="mySlides" src="OCEANVIEW.jpg" style="width:50%">
    <img class="mySlides" src="http://i.imgflip.com/2f0xsi.jpg" style="width:50%"> -->

<!-- <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div> -->

    <!-- <div class="w3-row-padding w3-section">
      <div class="w3-col s4">
        <img class="demo w3-opacity"
        src="img_nature_wide.jpg" onclick="currentDiv(1)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity"
        src="img_snow_wide.jpg" onclick="currentDiv(2)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity"
        src="img_mountains_wide.jpg" onclick="currentDiv(3)">
      </div>
    </div>
  </div> -->



  <div class="w3-row w3-padding-64">
    <div class="w3-container" align ="center">
      <h1 class="w3-text-blue " align ="center">Our Purpose</h1>
      <p>In today’s society, the sheer number of appliances to be had in a single household is overwhelming. At times, it’s easy to forget to look for the cheapest and most energy-saving devices, and even if one remembers, it’s an arduous and time-consuming process.
        On top of that, humanity’s energy consumption can be extreme and leave heavy impacts on the planet. The average household consumes about 11 thousand kilowatt-hours of energy annually. That translates to nearly up to $1500 spent on electricity alone, and it takes 10 acres of US forests to sequester that much carbon from the atmosphere. And this isn’t even accounting for the consumption of an average commercial cooling system.
        We plan on resolving this problem of lack of information about energy usage for household appliances -- specifically, air conditioning and central cooling systems --  by creating a web application that allows users to check consumption of devices in order to save time, money, and energy
        .</p>
    </div>
    <div class="w3-third w3-container">
      <img align ="center" width = 400px src = "https://www.allconnect.com/blog/wp-content/uploads/2016/07/ac-bill.jpg">
    </div>
  </div>


  <div class="w3-row w3-padding-64">
    <div class=" w3-container">
      <h1 class="w3-text-blue w3-center">Impact</h1>
      <p>One of our main features includes the ability for users to compare their average temperature settings to that of their relative region and state. The app will produce comparison data in response to these entries, showing users how their temperature range stands. It will also provide a hyperlink to a separate solutions page, which we’ll get into soon.
        Another one of our primary features is the capability for users to perform comparisons between various air conditioning brands in order to find out which would best serve their interests, whether that be saving money or conserving energy. As the great Walmart would say, with this information, users will be able to figure out how to save money and live better!
        Last but not least, we will be providing a specialized solution based on the users input in our database. These solutions will show exactly how the user can be involved and become a safe energized consumer on their own. This application can save lots of resources for thousands of people and we are eager to hear your interests in our idea.
        .</p>
    </div>
    <img   class = "w3-opacity" width = 500px height= 200px src ="https://www.constellation.com/energy-101/best-thermostat-types-and-settings/_jcr_content/secondaryPar/banner_section/par/image.img.png/1517428550539.png">
    <div class="w3-third w3-container">
    </div>
  </div>

  <section class="w3-container w3-pale-green">
    <h2 align = 'center' class = "w3-text-teal"> The Best Thermostat Types and Settings</h2>
      <p align = "center">According to ENERGY STAR, a homeowner can save as much as 10% a year in heating and cooling costs by turning back thermostats 7 - 10
        <br>degrees Fahrenheit for eight hours a day. Though you can manually set your thermostat daily, automated thermostats that are programmable or “smart” help you achieve greater
        <br>energy savings, especially if you’re away from home.</p>
  </section>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="home.html">1</a>
      <a class="w3-button w3-hover-black" href= 'region.html'>2</a>
      <a class="w3-button w3-hover-black" href="app-results.html">3</a>
      <a class="w3-button w3-hover-black" href="about.html">4</a>


      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l5 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>

// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
