<!DOCTYPE html>
<html>
  <head>
    <title>AirCon-5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Navbar -->
    <div class="w3-top" align= "center">
      <div class="w3-container w3-pale-green w3-bar  w3-top w3-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">AirCon-5</a>
        <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
        <a href="/region" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Compare Your Setpoint</a>
        <a href="/appliances" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Compare Products</a>
        <a href="/solutions" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Find Solutions</a>
      </div>
    </div>

    <!-- Sidebar -->
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
      </a>
      <h4 class="w3-bar-item"><b>Helpful Resources</b></h4>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www.homedepot.com/b/Heating-Venting-Cooling-Air-Conditioners/N-5yc1vZc4me">Buy an AC</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www3.epa.gov/carbon-footprint-calculator/">Energy Emissions Calculator</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www.cnet.com/how-to/rules-for-paying-less-on-ac-this-summer/">Save Money</a>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left:200px">

      <div class="w3-row w3-padding-64">
        <div class="w3-container" align ="center">
          <div class="slideshow-container">
            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src='../images/logoNew.jpg' style='width:50%'>
            </div>

            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="../images/collageNew.jpg" style="width:50%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="../images/collage.jpg" style="width:50%">
            </div>
          </div>
          <br>

          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
      </div>
    <div class="w3-container" align ="center">
      <h1 class="w3-text-blue " align ="center">Our Purpose</h1>
      <p>In today’s society, the sheer number of appliances to be had in a single household is overwhelming. At times, it’s easy to forget to look for the cheapest and most energy-saving devices, and even if one remembers, it’s an arduous and time-consuming process.
        On top of that, humanity’s energy consumption can be extreme and leave heavy impacts on the planet. The average household consumes about 11 thousand kilowatt-hours of energy annually. That translates to nearly up to $1500 spent on electricity alone, and it takes 10 acres of US forests to sequester that much carbon from the atmosphere. And this isn’t even accounting for the consumption of an average commercial cooling system.
        We plan on resolving this problem of lack of information about energy usage for household appliances -- specifically, air conditioning and central cooling systems --  by creating a web application that allows users to check consumption of devices in order to save time, money, and energy.</p>
    </div>
    <div align = 'center'>
      <img class = "" width = '50%' align = 'center' src ="https://www.constellation.com/energy-101/best-thermostat-types-and-settings/_jcr_content/secondaryPar/banner_section_363108280/par/banner_section/par1/image.img.png/1518451779653.png">
    </div>
  <div class="w3-row w3-padding-64">
    <div class="w3-container" align ="center">
      <h1 class="w3-text-blue " align ="center">Impact</h1>
      <p>Air conditioners use about 6% of all the electricity produced in the United States, at an annual cost of about $29 billion to homeowners. As a result, roughly 117 million metric tons of carbon dioxide are released into the air each year. These are insanely large numbers that undoubtedly contribute to warming across the globe. However, we believe that even one household's efforts to lessen their carbon footprint and energy usage can result in positive changes for the world. Feel free to utilize our website and its features to calculate your personal energy usage and read up on quick and easy solutions to make Earth a slightly healthier planet.</p>
    </div>
  </div>
  <div class="w3-row w3-padding-64">
    <div align = 'center'>
      <img class = "" width = '50%' align = 'center' src ="https://www.constellation.com/energy-101/best-thermostat-types-and-settings/_jcr_content/secondaryPar/banner_section/par/image.img.png/1517428550539.png">
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l5 w3-padding-32">
      <h4>(c) 2018 AirCon-5</h4>
      <h5>Google CSSI 2018</h5>
      <h6>Ruchika Dongre, Sage Lee, and Austin Lozano</h6>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>

// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
    }var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
