<!DOCTYPE html>
<html>
  <head>
    <title>AC BOIZ</title>
  </head>

  <body>
    <h1>How's your energy usage?</h1>
    <h3>Enter some quick information about your area and the temperature range to learn about your current standings.</h3>

    <form>
      Region:
      <select>

      </select>
      <br>
      State:
      <select>

      </select>
      <br>
      Minimum temperature: <input type='number' name='mintemp'>
      <br>
      Maximum temperature: <input type='number' name='maxtemp'>
      <br>
      <input type='submit' value='go'>
    </form>

    <h3 id='useravg'></h3>
    <h3 id='regionavg'></h3>
    <h3 id='stateavg'></h3>

    <h2 id='compavg'></h2>
  </body>
</html>
