<!DOCTYPE html>
<html>
  <head>
    <title>AirCon-5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <div class="w3-top" align= "center">
      <div class="w3-container w3-pale-green w3-bar  w3-top w3-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">AirCon-5</a>
        <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
        <a href="/region" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Compare Your Setpoint</a>
        <a href="/appliances" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Compare Products</a>
        <a href="/solutions" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Find Solutions</a>
      </div>
    </div>

    <!-- Sidebar -->
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
      </a>
      <h4 class="w3-bar-item"><b>Helpful Resources</b></h4>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwj0iJ2SssjcAhVqdt8KHd9GBpMQPAgD">Google</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www.homedepot.com/b/Heating-Venting-Cooling-Air-Conditioners/N-5yc1vZc4me">Home Depot</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www3.epa.gov/carbon-footprint-calculator/">Energy Emissions Calculator</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="https://www.cnet.com/how-to/rules-for-paying-less-on-ac-this-summer/">FIX</a>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left:200px">
      <div class="w3-row w3-padding-64">
        <div class="w3-container">
          <h1 class="w3-text-blue">Easy Solutions!</h1>
          <h3>You can improve your carbon footprint and save money by following these few steps.</h3>
          <h5>Check out <a href='https://www.energy.gov/energysaver/thermostats'>this DOE site</a> for more info.</h5>
          <ul>
            <li>Turn your thermostat back 7°-10°F for 8 hours a day from its normal setting to save up to 10% annually on heating and cooling.</li>
            <li>The smaller the difference between the indoor and outdoor temperatures, the lower your overall cooling bill will be.</li>
            <li>In the summer, set your theromstat to warmer than comfortable while you're away and a solid 78°F only when you're at home.</li>
            <li>In the winter, set your thermostat to 68°F while you're awake, and lower while you're asleep or not at home. In fact, turning the thermostat one degree lower in the winter can save you up to 3% on your heating bill.</li>
          </ul>
          <p>Slowly adjusting your household temperatures to adhere to these suggested steps will limit the amount of carbon you produce, as well as limiting the amount of money you spend on heating and cooling.</p>
          <h5>Interested in learning more? Read up on EnergyHub's helpful articles about <a href='http://www.energyhub.com/blog/does-living-in-a-colder-climate-make-you-warmer-on-the-inside'>whether cold weather makes you warmer on the inside</a> and <a href='http://www.energyhub.com/blog/how-much-is-one-degree-worth'>how much one degree is worth</a>.
          <br>
          <h3>What to keep in mind while searching for a new AC unit!</h3>
          <p>Most units will have a SEER Rating, or a Seasonal Energy Efficiency Ratio. The higher the number is, the more efficient the system is, so keep a look out for systems with higher ratings to do the world a favor.</p>
          <h4>2018's most efficient window ACs:</h4>
          <h5>As determined by <a href='https://airconditionerlab.com/most-energy-efficient-window-air-conditioners/'>Air Conditioner Lab</a>.</h5>
          <ul>
            <li>GE AHM05LW</li>
            <li>Friedrich Chill CP06G10B</li>
            <li>LG LW8016ER</li>
            <li>Frigidaire FGRC1244T1</li>
            <li>Haier ESAQ406T</li>
            <li>Danby DAC060EUB5GDB</li>
          </ul>
          <p>The GE AHM05LW is popular for its overall performance and efficiency. The Friedrich Chill CP06G10B is ideal for small rooms, the LG LW8016ER is great for medium-sized rooms, and the Frigidaire FGRC1244T1 is a top choice for large rooms. Finally, the Haier model the quietest option, and the Danby DAC060EUB5GDB is a budget pick for those looking to buy a solid, efficient window AC at a lower cost.</p>
          <br>
          <h3>Why should I go efficient?</h3>
          <ul>
            <li>Lower energy bills: These units have better parts and materials that make better use of energy, which lowers your usage rate and thus, your energy costs.</li>
            <li>Improved environmental footprint: Using less energy can help reduce the overall energy use of your home, and decrease your carbon footprint in the big picture.</li>
            <li>Increased cooling performance: Using an efficient unit will cool the same room down quicker than a less efficient model, which means you get more comfortable, faster.</li>
            <li>Better quality: Models with higher efficiency are typically made with better parts, which means the unit may be quieter than others and will have to run less to cool the air.</li>
            <li>Smarter features: ENERGY STAR® compliant window units must have “smarter” features like an energy-saving mode and automatic reminders to replace the filters, both of which can make a significant dent in the energy you use each year.</li>
          </ul>
        </div>
      </div>
    </div>

      <!-- Footer -->
      <footer id="myFooter">
        <div class="w3-container w3-theme-l5 w3-padding-32">
          <h4>(c) 2018 AirCon-5</h4>
          <h5>Google CSSI 2018</h5>
          <h6>Ruchika Dongre, Sage Lee, and Austin Lozano</h6>
        </div>

        <div class="w3-container w3-theme-l1">
          <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
      </footer>
    <!-- END MAIN -->
  </div>

    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
    </script>
  </body>
</html>
